/* Chats.scss */
@import url(common.scss);

/* header */
header.chats{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;left: 0;width: 100%;height: 64px;
  box-sizing: border-box;
  padding: 0 15px;
  background: #513736;
  color: #fff;
  .status_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37.5%;
    div {flex: 1;
      &:nth-child(1){text-align: left;}
      &:nth-child(2){text-align: center;}
      &:nth-child(3){text-align: right;}
      * {padding: 3px;}
    }
  }
  .title_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62.5%;
    * {flex: 1;font-size: 18px;}
    h1{
      order: 2;
      text-align: center;
      span {
        color: #f8ea65;
      }
    }
    .left_item{
      order: 1;
      line-height: 1.5;
      text-align: left;
      opacity: 0.5;
      .icon {
        color: #fff;
      }
    }
    .right_item{
      order: 3;
      line-height: 2;
      text-align: right;
      .icon {
        color: #fff;
      }
    }
  }
}


/* 검색창 */
.serach_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  padding-top: 64px;
  min-height: 53px;
  .serach_inner {
    display: flex;
    justify-content: space-between;
    width: 90%;height: 50%;
    border-radius: 5px;
    background-color: #f1f2f4;
    .search_icon {
      margin-left: 15px;
      color: #bebcc1;
      font-size: 16px;
      align-self: center;
    }
    input {
      width: 90%;
      padding: 0 15px;
      border: none;
      background-color: transparent;
      &::placeholder {
        text-align: center;opacity: 0.8;
      }
    }
  }
}

/* main section */
.chats_section {
  ul {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ebebeb;
    li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ebebeb;
      font-size: 16px;
      flex-wrap: wrap;
      .chats_img{
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .chats_cont {
        display: flex;
        flex-direction: column;
        .chats_name {
          font-weight: bold;
          font-size: 16px;
        }
        .chats_latest {
          color: #8e9399;
          font-size: 14px;
        }
      }
      .chats_time {
        position: absolute;
        right: 20px;
        color: #8e9399;
        font-size: 14px;
      }
    }
  }
}