/* Chatting.scss */
@import url(common.scss);

/* header */
header.Chatting {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  border-bottom: 1px solid #96acba;
  background-color: #a1c0d5;
  color: #000;

  .title_bar {
    .left_item .icon * {
      color: #000;
      font-size: 24px;
      opacity: 1;
    }
    .right_item .icon {
      padding-left: 5px;
      * {
        color: #000;
        font-size: 16px;
      }
    }
  }
  .status_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37.5%;
    div {
      flex: 1;
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
      * {
        padding: 0 3px;
      }
    }
  }
  .title_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62.5%;
    * {
      flex: 1;
      font-size: 20px;
    }
    h1 {
      order: 2;
      text-align: center;
      span {
        color: #f8ea65;
      }
    }
    .left_item {
      order: 1;
      line-height: 1.5;
      text-align: left;
      opacity: 0.5;
      .icon {
        color: #fff;
      }
    }
    .right_item {
      order: 3;
      line-height: 2;
      text-align: right;
      .icon {
        color: #fff;
      }
    }
  }
}

/* main */
main.Chatting {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 109px);
  padding-top: 64px;
  background-color: #a1c0d5;
}
.date_info {
  margin: 10px;
  text-align: center;
  opacity: 0.5;
}

/* 공통 */
.chat_box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: fit-content;
  max-width: calc(100% - 80px);
}
.chat {
  margin: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1;
}

/* my */
.my {
  align-items: flex-end;
  align-self: flex-end;
  max-width: 240px;
  margin-right: 10px;
  .chat {
    background-color: #ffe73a;
  }
  .chat_time {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 50px;
    opacity: 0.5;
  }
  .newchat_time {
    position: relative;
    right: 100px;
    opacity: 0.5;
    .icon {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
.my.new {
  margin-top: 30px;
}

/* other */
.other {
  margin-top: 20px;
  margin-left: 55px;
  .chat_time {
    position: absolute;
    right: -55px;
    bottom: 5px;
    width: 50px;
    opacity: 0.5;
  }
  .profile_img {
    position: absolute;
    top: -5px;
    left: -55px;
    width: 35px;
    height: 35px;
  }
  .profile_name {
    display: block;
    margin: 5px;
    font-weight: bold;
  }
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #eee;

  .plus_btn .icon {
    padding-left: 12px;
    color: #b3b4b4;
    font-size: 16px;
  }
  form {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 40px);
  }
  fieldset {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .text_field {
    width: calc(100% - 50px);
    height: 30px;
    border: none;
    margin-right: 10px;
  }
  .emoticon_btn {
    position: absolute;
    bottom: 7px;
    right: 60px;
    .icon {
      color: #b3b4b4;
      font-size: 16px;
    }
  }
  .send_btn {
    display: block;
    width: 34px;
    height: 35px;
    margin-right: 6px;
    background-color: #fee73a;
    color: #513736;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
}
