/* More.scss */
@import url(common.scss);

/* header(More) */
header.more {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  background: #513736;
  color: #fff;
  .status_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37.5%;
    div {
      flex: 1;
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
      * {
        padding: 3px;
      }
    }
  }
  .title_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62.5%;
    * {
      flex: 1;
      font-size: 20px;
    }
    h1 {
      order: 2;
      text-align: center;
      span {
        color: #f8ea65;
      }
    }
    .left_item {
      order: 1;
      line-height: 1.5;
      text-align: left;
      opacity: 0.5;
      .icon {
        color: #fff;
      }
    }
    .right_item {
      order: 3;
      line-height: 2;
      text-align: right;
      .icon {
        color: #fff;
      }
    }
  }
}


/* user_info */
.user_info {
  padding-top: 64px;
  display: flex;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #ebebeb;
}
.profile_img {
  width: 50px;
  height: 50px;
}
.profile_info {
  display: flex;
  flex: auto;
  flex-direction: column;
  .profile_name {
    font-weight: bold;
    font-size: 16px;
  }
  .profile_email {
    color: #8e9399;
  }
}
.chat_img .icon {
  margin-right: 15px;
  color: #513736;
  font-size: 30px;
}

/* user_menu */
.user_menu {
  height: 125px;
  border-bottom: 1px solid #ebebeb;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    li {
      flex: 1;
      overflow: hidden;
      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #513736;
        font-weight: bold;
        transition: transform 300ms linear 0s;
        &:hover {
          transform: scale(1.05);
        }
        .icon {
          margin-bottom: 10px;
          font-size: 30px;
        }
      }
    }
  }
}

/* plus_friends */
.plus_friends {
  height: 280px;
  border-bottom: 1px solid #ebebeb;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    span {
      display: flex;
      color: #8e9399;
      .header_icon {
        margin-right: 5px;
      }
    }
  }
  .plus_list {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
      height: 45px;
      font-size: 16px;
      .icon {
        margin: 0 15px;
        font-size: 25px;
      }
    }
  }
}

/* more_app */
.more_app {
  padding: 15px;
  ul {
    display: flex;
    li {
      width: 75px;
      b {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        font-weight: normal;
      }
    }
  }
  li {
    span.app_icon {
      display: block;
      width: 44px;
      height: 44px;
      margin-bottom: 10px;
      background: url(../images/empty.jpg) 0 0 no-repeat;
      background-size: cover;
    }
    &:nth-child(1) .app_icon {
      background-image: url(../images/kakaostory.png);
    }
    &:nth-child(2) .app_icon {
      background-image: url(../images/path.png);
    }
    &:nth-child(3) .app_icon {
      background-image: url(../images/kakaofriends.png);
    }
  }
}